/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:       {{ primary_color }};
    background-alt: #282839FF;
    foreground:     #FFFFFF;
    selected:         {{ secondary_color }};
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
    foreground-selected: #FFFFFF;
}
