/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1f1626;
    background-alt: #282839FF;
    foreground:     #FFFFFF;
    selected:       #0f0b12;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
    foreground-selected: #FFFFFF;
}
